  
<nav class="navbar container navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Your Website</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        {% if user.user_type == 'recruiter' %}
        <li class="nav-item">
          <a class="nav-link" href="#">Add Job</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'viewJob' %}">View Job</a>
        </li>
        {% if user.user_type == 'jobseeker' %}
        <li class="nav-item">
          <a class="nav-link" href="#">Applied Job</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="#">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logoutPage' %}">Logout</a>
        </li>
      </ul>
    </div>
  </nav>