{% extends "dashboard.html" %}

{% block main %}
<div class="container mt-5">
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card shadow">
          <img src="https://via.placeholder.com/150" class="card-img-top" alt="Job Title">
          <div class="card-body">
            <h5 class="card-title">Job Title</h5>
            <p class="card-text">Job Description goes here. This is a brief description of the job.</p>
            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#jobModal">View Details</a>

          </div>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="jobModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Job Title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Job Description goes here. This is a detailed description of the job.</p>
              <!-- Add additional details here -->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <a href="#" class="btn btn-primary">Apply Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock main %}